<section id="app-contacto" class="main-color">
    <div class="row justify-content-center">
      <div class="col-6 text-white text-center mt-3">
        <%= raw current_theme.the_field("footer_left") %>
        <ul class="list-inline">
          <%= raw current_theme.the_field("footer_center") %>
        </ul>
        <%= raw current_theme.the_field("footer_right") %>
      </div>
    </div>
</section>