 <!-- Footer -->
<footer id="footer" class="main-color text-white text-center">
  <div class="row justify-content-center">
    <div class="col-10">
      <p><%= raw current_theme.the_field("footer_left") %></p>
      <p><%= raw current_theme.the_field("footer_center") %></p>
      <p><%= raw current_theme.the_field("footer_right") %></p>
    </div>
  </div>
</footer>
<!-- /Footer -->