#app-header {
  background-color: rgb(4, 57, 80);
}

#app-header .logo {
  width: 8vh;
  margin-top: 2%;
  margin-right: 1em;
}

#app-header .marca {
  margin-top: 10px;
}

#app-header .alcaldia {
  font-size: 22px;
}

#app-header .liderando {
  font-size: 16px;
}

#app-header .top-icons a {
  color: white;
  margin-right: 10px;
}

#app-header .top-icons a:hover {
  color: black;
}

#app-header .fa {
  font-size: 2.2vw;
  margin-top: 1vh;
  padding-right: 1em;
}

#app-header .navegacion a {
  font-size: 10px;
  color: white;
}

#app-header .navegacion a:hover {
  color: black;
}

#app-header #navbarSupportedContent {
  margin-left: 32px;
}

#app-header .navbar-default button {
  font-size: 18px;
  color: white;
  position: absolute;
  left: 84%;
  top: -13px;
}

#app-header .navbar-default button:focus{
  outline: none;
}

#app-header .item {
  display: inline-flex;
}

/* Header listo */

#app-busqueda {
  height: 280px;
  width: 100%;
  background-image: url("../assets/bgimage.jpg");
  background-size: cover;
  background-position: center;
}

#app-noticias {
  height: 350px;
  width: 100%;
  background-image: url("../assets/tapiz.jpg");
}

#app-noticias .carousel {
  width: 80%;
}

#app-noticias .noticias img {
  height: 140px;
  widows: 140PX;
}

#app-noticias .badge {
  position: absolute;
  height: 35px;
  width: 60px;
  top: 105px;
  right: 31px;
}

#app-tramites {
  height: 350px;
  width: 100%;
}

#app-tramites .tramites {
  border-right: 1px solid rgb(4, 57, 80);
}

#app-tramites .tramites h4,
#app-tramites .tramites i {
  color: rgb(4, 57, 80);
}



#app-tramites .impuestos,
#app-tramites .transito,
#app-tramites .otros
 {
  height: 200px;
  width: 300px;
  background-color: rgb(223, 223, 223);
  border: 1px solid rgb(184, 205, 214);
}


#app-tramites .carousel .fa {
  font-size: 30px;
}

#app-tramites .carousel p {
  font-size: 12px;
}

#app-tramites .ayuda h6,
#app-tramites .ayuda small,
#app-tramites .ayuda i
{
  color: rgb(4, 57, 80);
}

#app-tramites .ayuda img {
  width: 200px;
  position: absolute;
  top: -180px;
}

#app-conocenos {
  height: 500px;
  width: 100%;
  background-color: rgb(92, 91, 91);
}

#app-conocenos .yotoco-imagen img{
  height: 110px;
  width: 150px;
  margin-top: 10px;
  border: 1px solid rgb(158, 158, 158);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

#app-conocenos .conocenos-yotoco p {
  font-size: 14px;
}

#app-conocenos .conocenos-mas li a {
  font-size: 12px;
  margin-left: 50px;
  color: rgb(20, 167, 20);
}

#app-canales {
  height: 350px;
  width: 100%;
  color: rgb(4, 57, 80);
}

#app-canales .yotoco-content li {
  margin-left: 20px;
}

#app-canales .yotoco-content .icon {
  margin-left: 20px;
}

#app-canales .yotoco-content i {
  font-size: 60px;
}

#app-colaboradores {
  height: 130px;
  width: 100%;
}

#app-contacto {
  height: 280px;
  width: 100%;
  background-color: rgb(4, 57, 80);
}

#app-contacto a {
  color: white;
}

#app-contacto a:hover {
  color: black;
}

#app-contacto p {
  font-size: 12px;
}

#app-contacto li {
  font-size: 12px;
}