#app-header .dropdown-menu {
  border: 1px solid white;
  background-color: rgb(8, 57, 79);
 }
 
 #app-header .dropdown.show {
  background-color: rgb(93, 173, 79);
  border-radius: 5px;
 }
 
 #app-header .dropdown a:hover {
  background-color: rgb(93, 173, 79);
 }
 
.img-noticia img {
  width: 120px;
  height: 120px;
}

#app-header .logo {
  height: 75px;
  margin-top: 10px;
  margin-left: 30px;
}

#app-header .marca {
  margin-top: 2%;
}

#app-header .alcaldia {
  font-size: .8em;
}

#app-header .liderando {
  font-size: .6em;
}

#app-header .top-icons a {
  color: white;
  margin-right: 10px;
}

#app-header .top-icons a:hover {
  color: black;
}

#app-header .fa {
  font-size: 30px;
  margin-top: 5px;
  margin-right: 30px;
}

#app-header .navegacion a {
  font-size: 10px;
  color: white;
  padding: 0 7px;
}

#app-header .navegacion a:hover {
  color: black;
}

#app-header .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: rgb(48, 166, 74);
}

/* Header listo */

#app-busqueda {
  height: 280px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

#app-noticias {
  height: 480px;
  width: 100%;
  background-image: url("../images/tapiz.jpg");
}

#app-noticias .btn-outline-dark {
  margin-left: 220px;
}

#app-noticias .carousel {
  width: 50%;
  margin-top: 65px;
}

#app-noticias .carousel img {
  height: 300px;
  width: 450px;
}

#app-noticias .noticias {
  padding: 0 0;
}

#app-noticias .noticias .img-left,
#app-noticias .noticias .img-right
 {
  padding-left: 0;
  padding-right: 0;
}

#app-noticias .relative {
  position: relative;
}

#app-noticias .btn-outline-dark {
  font-size: 80%;
  margin-top: 3%;
}

#app-noticias .img-fluid {
  width: 90%;
}


#app-noticias .badge-corner {
  position: absolute;
  top: 0;
  right: 20px;
  width: 0;
  height: 0;
  border-top: 66px solid #888;
  border-left: 66px solid transparent;
  padding: 0;
  background-color: transparent;
  border-radius: 0;
}

#app-noticias .badge-corner span {
  position: absolute;
  top: -68px;
  left: -28px;
  font-size: 16px;
  color: #fff;
}

#app-noticias .noticias p {
  font-size: 12px;
}


#app-noticias .badge {
  position: absolute;
  height: 35px;
  width: 60px;
  top: 105px;
  right: 31px;
}

#app-tramites {
  height: 350px;
  width: 100%;
}

#app-tramites h4 {
  font-size: 28px;
}

#app-tramites .jumbotron {
  padding: 0 0;
  width: 90%;
}

#app-tramites .jumbotron p {
  font-size: 16px;
}

#app-tramites .fa {
  font-size: 28px;
}




#app-tramites .tramites h4,
#app-tramites .tramites i {
  color: rgb(4, 57, 80);
}

#app-tramites .ayuda h6 {
  font-size: 1em;
}

#app-tramites .ayuda small {
  font-size: .8em;
}

#app-tramites .impuestos,
#app-tramites .transito,
#app-tramites .otros
 {
  height: 200px;
  width: 300px;
  background-color: rgb(223, 223, 223);
  border: 1px solid rgb(184, 205, 214);
}


#app-tramites .carousel .fa {
  font-size: 30px;
}

#app-tramites .carousel p {
  font-size: 12px;
}

#app-tramites .ayuda img {
  width: 200px;
  position: absolute;
  top: -180px;
}

#app-conocenos {
  height: 500px;
  width: 100%;
  background-color: rgb(92, 91, 91);
}

#app-conocenos .yotoco-imagen img{
  height: 110px;
  width: 150px;
  margin-top: 10px;
  border: 1px solid rgb(158, 158, 158);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

#app-conocenos .conocenos-yotoco p {
  font-size: 14px;
}

#app-conocenos .conocenos-mas li a {
  font-size: 12px;
  margin-left: 50px;
}

#app-canales {
  height: 350px;
  width: 100%;
}

#app-canales .yotoco-content li {
  margin-left: 20px;
}

#app-canales .yotoco-content .icon {
  margin-left: 20px;
}

#app-canales .yotoco-content i {
  font-size: 60px;
}

#app-colaboradores {
  height: 130px;
  width: 100%;
}

#app-contacto {
  height: 280px;
  width: 100%;
}

#app-contacto a {
  color: white;
}

#app-contacto a:hover {
  color: black;
}

#app-contacto p {
  font-size: 12px;
}

#app-contacto li {
  font-size: 12px;
}